{{- /* Custom Head - Security Headers */ -}}
{{- partial "head/security.html" . -}}

{{- /* Schema Markup for SEO */ -}}
{{- partial "head/schema.html" . -}}

{{- /* Favicon */ -}}
<link rel="icon" type="image/x-icon" href="/favicon.ico">

{{- /* DNS Prefetch for external origins */ -}}
<link rel="dns-prefetch" href="https://fonts.googleapis.com">
<link rel="dns-prefetch" href="https://www.googletagmanager.com">
<link rel="dns-prefetch" href="https://static.cloudflareinsights.com">

{{- /* Preconnect for Giscus - Improves comment loading speed */ -}}
{{- if and .Site.Params.comments.enabled (eq .Site.Params.comments.provider "giscus") -}}
<link rel="preconnect" href="https://giscus.app" crossorigin>
{{- end -}}
