{{- /* Schema Markup for SEO */ -}}

{{- /* Skip special pages only */ -}}
{{- $skipSchema := or 
  (eq .RelPermalink "/archives/")
  (eq .RelPermalink "/search/")
-}}

{{- /* Article Schema for pages */ -}}
{{- if and .IsPage (not $skipSchema) }}
    {{- partial "schema/article.html" . -}}
    {{- partial "schema/breadcrumb.html" . -}}
{{- end }}

{{- /* WebSite Schema for homepage */ -}}
{{- if and .IsHome (not $skipSchema) }}
    {{- partial "schema/website.html" . -}}
{{- end }}

{{- /* Person Schema for about page */ -}}
{{- if and (eq .RelPermalink "/about/") (not $skipSchema) }}
    {{- partial "schema/person.html" . -}}
{{- end }}

{{- /* FAQPage Schema for start and about pages */ -}}
{{- if or (eq .RelPermalink "/start/") (eq .RelPermalink "/about/") }}
    {{- partial "schema/faqpage.html" . -}}
{{- end }}
