{{- /* WebSite Schema for SEO */ -}}
{{- if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Code & Community",
  "alternateName": "neng-blog",
  "description": {{ .Site.Params.description | default "A blog about technology, community development, and life by Nueng" | htmlEscape | safeJS }},
  "url": {{ .Site.BaseURL | safeJS }},
  "inLanguage": "th",
  "potentialAction": {
    "@type": "SearchAction",
    "target": {{ printf "%s%s" .Site.BaseURL "search/?q={search_term_string}" | safeJS }},
    "query-input": "required name=search_term_string"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Code & Community",
    "logo": {
      "@type": "ImageObject",
      "url": {{ printf "%s%s" .Site.BaseURL "img/profile_hu_e397a933c2adc953.jpg" | safeJS }}
    }
  },
  "author": {
    "@type": "Person",
    "name": "เหน่ง",
    "url": {{ printf "%s%s" .Site.BaseURL "/about/" | safeJS }}
  }
}
</script>
{{- end }}
